html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Gilroy-Regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Gilroy-Bold.woff2') format('woff2'); 
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

/* header start */

.header_info-block {
    display: flex;
    margin: 0 120px;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 388px;
}

.header_contacts {
    display: flex;
}

.header_time-block {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 26px;
}

.time-block {
    display: flex;
    gap: 8px;
}

.tel-block {
    display: flex;
    gap: 8px;
}

.header__social_network-block {
    display: flex;
    gap: 12px;
    margin-right: 25px;
}

.header-block-descr {
    color: #1E1E1E;
    font-size: 15px;
    text-decoration: none;
}

.header_button {
    display: flex;
    width: 183px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background: #44A603;
}

.navbar {
    background: #44A603;
}

.nav_container {
    margin: 0 120px;
}

.nav_container {
    display: flex;
}

.nav_button {
    display: flex;
    width: 205px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    border: none;
    background: transparent;
}

.nav_container_mobile {
    display: none;
}

/* header end */

/* firewood start */

.firewood {
    position: relative;
    background: url(/img/firewood-bg.png) no-repeat center center / cover;
    height: 721px; /* Высота для первого изображения */
}

.firewood::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

.firewood::after {
    content: "";
    position: absolute;
    height: 249px;
    top: 480px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/firewood-bg-2.png) no-repeat center center / cover;
}

.firewood::after::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.firewood_container {
    display: flex;
    margin: 0 120px;
    position: relative;
}

.firewood-left {
    padding-top: 95px;
}

.firewood-left-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px; /* 130% */
    text-transform: uppercase;
    margin-bottom: 18px;
}

.firewood-left-descr {
    color: #FFF;
    font-size: 25px;
    line-height: 40px; /* 160% */
    max-width: 436px;
    margin-bottom: 35px;
}

.firewood-left-button {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    width: 310px;
    height: 56.295px;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #44A603;
    border: none;
    padding-left: 20px;
}

.firewood-left-p {
    color: #6F0;
    font-size: 17px;
}

.firewood-left-prise {
    display: flex;
    align-items: center;
}

.firewood-left-button_container {
    display: flex;
    align-items: center;
}

.firewood-left-img {
    position: relative;
    right: 95px;
    bottom: 15px;
}

.firewood-right-top {
    position: relative;
    bottom: 700px;
}

.firewood-right-center {
    position: relative;
    bottom: 350px;
    right: 300px;
}

.firewood-right-bottom {
    position: relative;
    bottom: 600px;
    left: 300px;
}

/* firewood end */

/* advantages start */

.advantages_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.advantages_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages_text {
    text-align: center;
    font-size: 17px;
    line-height: 33px; /* 194.118% */
    max-width: 250px;
}

/* advantages end */

/* reviews start */

.reviews-container {
    margin: 0 120px;
    margin-bottom: 110px;
}

.reviews-title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 33px; /* 143.478% */
    margin-bottom: 30px;
}

.reviews_info-block {
    display: flex;
    justify-content: center;
}

.reviews_info-stars {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 415px;
    height: 60px;
    border-radius: 5px;
    background: #44A603;
    padding-left: 30px;
}

.reviews_info-cards {
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
    right: 20px;
}

.reviews_info-link {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

/* reviews end */

/* calculator start */

.questions_container {
    margin: 0 120px;
}

.calculator {
    margin-bottom: 110px;
}

.calculator_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px; /* 162.5% */
    margin-bottom: 50px;
}

.calculator_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    justify-content: center;
    margin-bottom: 20px;
}

.calculator-bg {
    border-radius: 5px;
    background: rgba(68, 166, 3, 0.17);
    padding: 30px 20px;
    margin-bottom: 25px;
}

.calculator_element {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    line-height: 65px; /* 464.286% */
    display: flex;
    width: 284px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.calculator_element:hover, .calculator_element:focus, .calculator_element:active {
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.calculator_button {
    display: flex;
    width: 284px;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 65px; /* 382.353% */
    border-radius: 5px;
    background: #44A603;
    border: none;
}

.calculator_element-p {
    font-size: 12px;
    line-height: 20px; /* 166.667% */
}

.calculator_necessary {
    display: flex;
    gap: 20px;
    align-items: center;
}

.calculator_necessary-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px; /* 117.647% */
}

.necessary {
    border-radius: 5px;
    background: #584340;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.necessary_descr {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px; /* 83.333% */
}

.necessary_descr-two {
    font-size: 17px;
}

.calculator-descr-title {
    color: #44A603;
    font-size: 23px;
    font-weight: 700;
    line-height: 33px; /* 143.478% */

}

.calculator-descr-text {
    font-size: 17px;
    line-height: 33px;
}

/* calculator end */

/* prise start */

.prise-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 65px;
}

.prise_mobil_container {
    display: none;
}

.prise {
    margin-bottom: 125px;
}

.prise_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
}

.prise_card {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: rgba(217, 217, 217, 0.15);
    padding: 0 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card_settings {
    display: flex;
    justify-content: space-between;
}

.card_setting-block {
    display: flex;
    gap: 4px;
}

.prise_card-descr {
    max-width: 318px;
    color: #000;
    font-size: 17px;
}

.card_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card_setting-blod {
    font-size: 17px;
    line-height: 40px; /* 382.353% */
}

.card_setting-noblod {
    font-size: 13px;
    line-height: 40px;
}

.card_settings-prise {
    color: #44A603;
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 40px; /* 382.353% */
}

.prise_button {
    display: flex;
    width: 150px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: #584340;
    margin-bottom: 19px;
}

.card_image {
    width: 100%;
}

/* prise end */

/* about start */

.about {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url(/img/about-bg.png) no-repeat center center / cover;
    margin-bottom: 110px;
}

.about-container {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}

.about-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px; /* 130% */
    text-transform: uppercase;
    margin-bottom: 42px;
}

.about_descr {
    color: #FFF;
    font-size: 17px;
    line-height: 33px; /* 194.118% */
    margin-bottom: 42px;
}

/* about end */

/* work start */

.work {
    margin-bottom: 110px;
}

.work_video_container {
    display: flex;
    gap: 47px;
}

.work_gallery-container {
    display: flex;
}

.work_gallery_button-left {
    position: relative;
    right: 35px;
    bottom: 130px;
}

.work_gallery_button-right {
    position: relative;
    left: 1155px;
    bottom: 130px;
}

.work_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px; /* 162.5% */
}

.work_video_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 65px; /* 325% */
}

/* work end */

/* free start */

.free {
    margin-bottom: 44px;
}

.free-container {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
}

.free-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px; /* 162.5% */
    margin-bottom: 50px;
}

.free_descr {
    font-size: 17px;
    line-height: 33px; /* 194.118% */
    margin-bottom: 25px;
}

/* free end */

/* districts start */

.districts {
    margin-bottom: 86px;
}

.districts_cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
    margin-bottom: 38px;
}

.districts_card-large {
    grid-column: span 4;
}

.districts_card-button {
    display: flex;
    width: 234px;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 17px;
    line-height: 33px; /* 194.118% */
    border: none;
}

.districts_card-button-large {
    width: 988px;
}

.districts_title {
    font-size: 25px;
    font-weight: 700;
    line-height: 65px; /* 260% */
    margin-bottom: 15px;
}

#map {
    width: 1240px;
    height: 664px;
}

/* districts end */

/* cars start */

.cars_block {
    margin: 0 120px;
    margin-bottom: 69px;
}

.cars_container_one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.cars_container_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-bottom: 69px;
}

.car_card-title {
    color: #44A603;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px; /* 175% */
}

.car_card-descr {
    color: #000;
    text-align: center;
    font-size: 17px;
    line-height: 33px; /* 194.118% */
}

.cars_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px; /* 162.5% */
}

.additionally_container {
    margin: 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
    margin-bottom: 110px;
}

.additionally_text {
    font-size: 17px;
    line-height: 33px; /* 194.118% */
    max-width: 421px;
    margin-bottom: 77px;
}

/* cars end */

/* clients start */

.clients_card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    border-radius: 900px;
    background: #44A603;
    position: relative;
    bottom: 100px;
}

.clients_block-big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 112px;
    margin-bottom: 80px;
}

.clients_link {
    color: #000;
}

.clients_block-small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    margin-bottom: 80px;
}

.clients_card {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: rgba(217, 217, 217, 0.15);
    padding: 41px 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.clients_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px; /* 162.5% */
}

.clients-title-container {
    margin-bottom: 130px;
}

.clients_title-green {
    color: #44A603;
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
}

.clients_card-title {
    color: #44A603;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px; /* 175% */
    position: relative;
    bottom: 30px;
}

.clients_card-descr {
    font-size: 16px;
    line-height: 29px; /* 181.25% */
}

/* clients end */

/* process start */

.switch_block {
    border-radius: 900px;
    background: rgba(4, 119, 254, 0.18);
    width: 10px;
    height: 10px;
}

.process-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    margin-bottom: 40px;
}

.process_switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.process-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px; /* 175% */
}

.process_text {
    font-size: 16px;
    line-height: 29px; /* 181.25% */
    margin-bottom: 10px;
}

.process-link {
    color: #0477FE;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px; /* 181.25% */
    text-decoration: none;
}

.process-button {
    display: flex;
    width: 310px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background: #0477FE;
    border-radius: 8px;
}

/* process end */

/* sities start */

.sities {
    margin-bottom: 110px;
}

.sities_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 78px;
}

.sities_block-two {
    display: flex;
}

.sities_info {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    max-width: 309px;
    margin-bottom: 39px;
}

.sities_info-custom {
    border-radius: 7px;
    background: rgba(255, 0, 15, 0.14);
    padding: 21px 23px;
}

/* sities end */

/* questions start */

.questions_card-block {
    border-bottom: 2px solid rgba(0, 0, 0, 0.17);
    display: flex;
    justify-content: space-between;
    background: #FFF;
}

.questions_block {
    margin-top: 50px;
}

.questions_container {
    margin: 0 120px;
}

.questions_card {
    display: flex;
    flex-direction: column;
}

.question_text {
    font-size: 20px;
    line-height: 65px; /* 325% */
}

.questions {
    margin-bottom: 110px;
}

.additional-text-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px 30px;
}

.additional-text {
    font-size: 16px;
    line-height: 29px; /* 181.25% */
}

/* questions end */

/* contacts start */

.contacts_container {
    display: flex;
    justify-content: space-between;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-block-right-descr {
    max-width: 502px;
}

.contacts_link {
    color: #44A603;
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 65px; /* 382.353% */
    text-decoration: none;
}

.contacts_button {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    width: 210px;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background: #44A603;
    margin-bottom: 16px;
}

.contacts-block-left-descr {
    font-size: 17px;
    line-height: 65px; /* 382.353% */
    max-width: 369px;
}

.contacts-block-left-descr-custom {
    line-height: 30px;
}

.contacts-span {
    color: #44A603;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
}

.contacts-block-right-descr {
    font-size: 17px;
    line-height: 30px; /* 176.471% */
}

.contacts-button-right {
    display: flex;
    width: 239px;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #F8EE00;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.contacts-block-right-buttons {
    display: flex;
    justify-content: space-between;
}

.contacts-button-right_color {
    background: #B5C94D;
    color: #FFF;
}

.contacts_title_container {
    margin-bottom: 50px;
}

.contacts-block-right-title_container {
    margin-bottom: 11px;
}

.contacts_block-right-container {
    margin-bottom: 25px;
}

.contacts-block-right-descr-container {
    margin-bottom: 37px;
}

.contacts-block {
    margin-bottom: 16px;
}

.header__social_network-block-custom {
    margin-right: 0;
}

.contacts-block-right {
    border-radius: 7px;
    background: rgba(217, 217, 217, 0.20);
    padding: 32px;
}

.contacts-block-custom {
    margin-bottom: 100px;
}

.process-title-custom {
    max-width: 450px;
}

.contacts_container {
    margin-bottom: 45px;
}

.contacts_image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
}

/* contacts end */

/* footer start */

footer {
    background: #44A603;
}

.footer-text {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}

/* footer end */


@media (max-width: 750px) {
    /* header start */

    .header_time-block-custom {
        display: none;
    }

    .header_info-block {
        display: inline-flex;
        flex-direction: column;
        margin: 10px;
    }

    .header_left {
        gap: 128px;
    }

    .nav_container {
        display: none;
    }
    .nav_container_mobile {
        display: block;
    }

    .nav_button {
        width: 178px;
        height: 45px;
        flex-direction: column;
        font-size: 15px;
        align-items: flex-start;
    }

    .nav_container_mobile {
        margin: 0 10px;
    }

    /* header end */

     /* firewood start */

    .firewood {
        height: 850px; 
    }

    .firewood_container {
        margin-left: 10px;
        margin-right: 0;
    }

    .firewood::after {
        content: "";
        position: absolute;
        height: 249px;
        top: 605px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .firewood-left-title {
        font-size: 30px;
        line-height: 45px; 
    }

    .firewood_container {
        display: inline-flex;
        flex-direction: column;
    }

    .firewood-right-big {
        width: 238px;
        height: 316px;
        position: relative;
        z-index: 1;
        left: 100px;
    }

    .firewood-right-center, .firewood-right-bottom, .firewood-right-top{
        display: none;
    }

    .firewood-left-descr {
        max-width: 291px;
        font-size: 17px;
    }

    .firewood-left-prise {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .firewood-left-p {
        margin-top: 10px;
    }

    .firewood-left {
        padding-top: 27px;
    }

    /* firewood end */

     /* advantages start */

     .advantages_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    /* advantages end */

    /* reviews start */

    .reviews_info-block {
        display: inline-flex;
        flex-direction: column;
        justify-items: center;
    }

    .reviews_info-stars {
        display: inline-flex;
        flex-direction: column;
        width: 244px;
        height: 131px;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 42px;
    }

    .reviews_info-stars-mobil {
        display: flex;
        justify-content: center;
    }

    .reviews-container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        margin-bottom: 85px;
    }

    .reviews_info-cards {
        right: 0;
    }

    /* reviews end */

    /* calculator start */

    .questions_container {
        margin: 0 10px;
    }

    .calculator_block {
        grid-template-columns: repeat(1, 1fr);
    }

    .calculator_necessary {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-bg  {
        padding: 45px 35px;
    }

    .calculator_title {
        font-size: 30px;
        margin-bottom: 33px;
    }

    /* calculator end */

    /* prise start */

    .prise {
        margin-bottom: 80px;
    }

    .prise_mobil_container-text {
        display: flex;
        justify-content: center;
    }

    .prise_mobil_container {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 23px;
        margin-left: 80px;
    }

    .prise_mobil_block {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .prise_mobil_position {
        border-radius: 900px;
        background: rgba(68, 166, 3, 0.23);
        width: 10px;
        height: 10px;
    }

    .prise_mobil_text {
        font-size: 15px;
        line-height: 65px; /* 433.333% */
    }

    /* prise end */

    /* about start */

     .about-container {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0;
    }

    .about-title {
        font-size: 25px;
    }

    .about_descr {
        font-size: 17px;
        max-width: 355px;
    }

    .about-right-image {
        width: 355px;
        height: 464px;
        margin-top: 60px;
    }

    /* about end */

    /* work start */

    .work_video_container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    .work_gallery_button-comtainer {
        display: flex;
        gap: 80px;
    }

    .work_gallery_button-right {
        left: 245px;
        bottom: 150px;
        width: 30px;
        height: 30px;
    }

    .work_gallery_button-left {
        left: 10px;
        bottom: 150px;
        width: 30px;
        height: 30px;
       
    }

    .work_video_image {
        width: 100%;
        height: 202px;
    }

    .work_video_title {
        line-height: 30px;
        margin-bottom: 20px;
    }

    .work_title {
        margin-bottom: 40px;
    }

    .work_gallery {
        margin-top: 40px;
        width: 100%;
    }

    .work_video_title {
        margin-bottom: 0;
    }

    /* work end */

    /* free start */

    .free-container {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0;
    }

    .free-title {
        font-size: 30px;
        max-width: 355px;
        line-height: 45px;
    }

    .free_descr {
        font-size: 17px;
        max-width: 355px;
    }

    .free-right-image {
        width: 354px;
        height: 325px;
    }

    .free {
        background: #DFF0D4;
        padding-top: 81px;
        padding-bottom: 56px;
    }

    /* free end */

    /* districts start */

    .districts_title {
        display: none;
    }

    .districts_card-button {
        width: 190px;
    }

    .districts_cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin-bottom: 38px;
    }
    
    .districts_card-large {
        grid-column: span 2;
    }

    .districts_card-mob {
        grid-column: span 2;
    }

    .districts_card-button-large {
        width: 100%;
    }

    .districts_card-button-mob {
        width: 100%;
    }

    #map {
        width: 100%;
        height: 176px;
    }
    
    /* districts end */

    /* cars start */

    .cars_block {
        margin-bottom: 0;
    }

    .cars_container_one{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .cars_container_two {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }

    .cars_container {
        display: flex;
        justify-content: center;
    }

    .car_card-image  {
        width: 100%;
        height: 330px;
    }

    .cars {
        background: #584340;
        margin-bottom: 160px;
    }

    .car_card-descr {
        color: #FFF;
    }

    .cars_title {
        color: #FFF;
        font-size: 30px;
        padding-top: 80px;
        text-align: start;
        margin: 0 10px;
    }

    .additionally_container {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0;
        gap: 0;
        margin-bottom: 0;
    }

    .additionally-image {
        height: 180px;
    }

    .additionally_text {
        max-width: 354px;
        color: #FFF;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .additionally_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* cars end */

    /* clients start */

    .clients_title, .clients_title-green {
        font-size: 30px;
        line-height: 45px;
    }

    .clients-title-container {
        margin-bottom: 40px;
    }

    .sities_block {
        justify-content: space-around;
    }

    .sities_block-two_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sities_block-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sities_image-mobil {
        width: 100%;
        height: 200px;  
    }

    .clients_title {
        max-width: 355px;
    }

    .prise_mobil_text {
        text-align: center;
    }

    .clients_block-small, .clients_block-big {
        margin-bottom: 0;
    }

    /* clients end */

    /* process start */
    /* process end */

    /*questions start */

    .question_text {
        line-height: 22px;
    }

    .questions_card {
        padding: 10px 0;
    }

    /* questions end */

    /* contacts start */

    .contacts_container {
        display: inline-flex;
        flex-direction: column;
    }

    .contacts-block, .contacts-block-left {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-block-right-descr {
        max-width: 303px;
    }

    .contacts-block-right-buttons {
        display: inline-flex;
        flex-direction: column;
        gap: 24px;
    }

    .contacts_image-container {
        display: inline-flex;
        flex-direction: column;
    }

    .contacts_image-one {
        width: 100%;
        height: 270px;
    }

    .contacts_image-two {
        width: 100%;
        height: 198px;
    }

    .contacts_image-one {
        margin-bottom: 44px;
    }

    .contacts_img_container {
        display: flex;
        justify-content: center;
    }


    /* contacts end */

    /* footer start */

    .footer-text {
        max-width: 355px;
    }

    .footer_container {
        display: flex;
        justify-content: center;
    }
    
    /* footer end */

    .process-button {
        width: 353px;
    }

    
    
}